@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background: #000000;
}

.pata-header{
    width: 5vw;
}

figure{
    display: flex;
    align-items: center;
    height: 20vh;
    color: #ffffff;
    font-family: 'Roboto' sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.redes{
    display: flex;
    text-align: center;
    gap: 28px;
}

.sectionmain1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/img/dog1.png");
    color: #ffffff;
    padding-bottom: 38vh;
}

h1{
    font-size: 50px;
    font-family: 'roboto' sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sectionmain2{
    display: flex;
    align-items: center;
    height: 90vh;
    padding-left: 26px;
    background-size: 70%;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #f4f2f3;
    background-image: url("./assets/img/dog2.png");
}

.sectionmain2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    height: 44vh;
}

.text-main2{
    color: #000;
    text-align: center;
    font-family: 'Roboto' Serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-mainp2{
    color: #000;
    font-family: 'Roboto' serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-dog2 {
    width: 16vw;
    height: 8vh;
    background-color: #3a342f;
    color: #f4f2f3;
    border-radius: 30px;
    font-size: 4px solid;
    border: none;
    cursor: pointer;
}

.sectionmain3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("./assets/img/dog3.png");
    padding-bottom: 12vh;
    padding-right: 20vw;
    background-repeat: no-repeat;
    color: #ffffff;
}

.sectionmain3 div{
    font-family: 'Roboto' serif;
    margin: 10vw;
    width: 5vw;
}

.text-mainp3{
    color: #FFF;
    font-family: 'Roboto' serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-dog3 {
    width: 16vw;
    height: 8vh;
    background-color: #f4f2f3 ;
    color: #3a342f;
    border-radius: 30px;
    font-size: 4px solid;
    border: none;
    cursor: pointer;
}

.sectionmain4{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    color: #FD6A9A;
}

.apoio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 60%;
}

span{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
}

h3{
    font-family: 'Roboto' Serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer{
    display: flex;
    align-items: center;
    height: 30vh;
    background-color: #EB4A7B;
    gap: 90px;
    padding-left: 60px;
}

footer nav{
    display: flex;
    flex-direction: column;
}

footer h4{
    color: #FFF;
    font-family: 'Roboto' Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer a{
    color: #FFF;
    font-family: 'Roboto' serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.Logo-footer, .redes-footer{
    display: none;
}

@media (max-width:500px){
    header{
        display: flex;
        justify-content: space-around;
    }
    .redes1{
        display: none;
    }
    
    .sectionmain2{
        display: flex;
        padding-bottom: 50px;
        align-items: center;
        flex-direction: column;
        background-image: url("./assets/img/dog2\ mobile.png");
        background-size: 60%;
        background-position: center;
    }

    .text-main2{
        font-size: 20px;
    }

    .text-mainp2{
        font-size: 15px;
    }

    .button-dog2{
        font-size: 8px;
    }

    .sectionmain3{
        display: flex;
        align-items: flex-start;
        padding-left: 30px;
        background-image: url("./assets/img/dog3\ mobile.png");
    }

    .text-main3{
        font-size: 20px;
    }

    .text-mainp3{
        font-size: 15px;
    }

    .button-dog3{
        font-size: 8px;
    }
    
    footer h4{
        text-align: center;
    }
    footer a{
        text-align: center;
    }

    .Logo-footer, .redes-footer{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 25px;
    }
}